
<section class="products-grid">
    <h2 class="page-title" style = "text-align:center"><%= @category.name %></span><span class="accent-color">.</span></h2>
  <div class="container">
    <div class="row products-container">
      <% @category.products.each do |product| %>
              <div class="col-md-4 col-sm-6 col-xs-12 product">
            <div class="product-details text-center">
              <div class="align-vertical">
                <h3><%= product.name %></h3>
                  <%= link_to 'View Product', product_path(product), :class => "btn btn-primary" %>
                  <p class="product-price"></div>
              </div>
            </div>
        <% end %>
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container -->
  </section>
