<section>
  <div class="background-image-holder overlay">
    <%= image_tag('bg-2.jpg', class: 'background-image', alt:'Background') %>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-5 text-left">
        <h2 class="page-title">For your familly</h2>
        <p class="description">Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates depudiandae sint et molestiae.</p>
        <a href="index.html#" class="btn btn-primary">Shop Now</a>
      </div>
    </div>
    <!--end of row-->
