<div id="sidr">
  <ul>
    <li>
      <a class="side-logo" href="index.html">THCeasoned<span class="logo-dot accent-bg"></span></a>
    </li>
    <li class="active">
      <%= link_to 'Store', :all_products %>
    </li>
    <li>
      <a href="index.html#">Edibles</a>
    </li>
    <li>
      <a href="index.html#">Flowers</a>
    </li>
    <li>
      <a href="index.html#">Concentrates</a>
    </li>
    <li>
      <a href="index.html#">Tinctures/Topicals</a>
    </li>
    <li>
      <a href="index.html#">Accessories</a>
    </li>
    <li class="divider">
      <span></span></li>
    <li>
      <a href="privacy.html">Privacy</a>
    </li>
    <li>
      <a href="terms.html">Terms & conditions</a>
    </li>
  </ul>

  <div class="side-social">
    <a href="index.html#">
      <i class="fa fa-facebook"></i>
    </a>
    <a href="index.html#">
      <i class="fa fa-twitter"></i>
    </a>
    <a href="index.html#">
      <i class="fa fa-google-plus"></i>
    </a>
    <a href="index.html#">
      <i class="fa fa-pinterest"></i>
    </a>
    <a href="index.html#">
      <i class="fa fa-instagram"></i>
    </a>
  </div>
</div>
