<div id="sidr">

  <ul>
    <li>
      <a class="side-logo" href="index.html">THCeasoned<span class="logo-dot accent-bg"></span></a>
    </li>

    <li class="active">
      <%= link_to 'Store', :all_products %>
    </li>
      <% @categories.each do |category| %>
    <li>
          <%= link_to category.name, category_path(category) %>

    </li>
<% end %>

    <li class="divider">
      <span></span></li>
      <li class="active">
        <%= link_to 'About', :about %>
      </li>
    <li>
      <a href="terms.html">Terms & conditions</a>
    </li>
  </ul>

  <div class="side-social">
    <a href="index.html#">
      <i class="fa fa-facebook"></i>
    </a>
    <a href="index.html#">
      <i class="fa fa-twitter"></i>
    </a>
    <a href="index.html#">
      <i class="fa fa-google-plus"></i>
    </a>
    <a href="index.html#">
      <i class="fa fa-pinterest"></i>
    </a>
    <a href="index.html#">
      <i class="fa fa-instagram"></i>
    </a>
  </div>
</div>
